section.wrapper{
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    padding: 120px 0 0;

    .mat-list{
        background: white;

        .mat-list-item{
            color: #3D3D3D;
        }
    }

    .fill {
        /* This fills the remaining space, by using flexbox.
         Every toolbar row uses a flexbox row layout. */
        flex: 1 1 auto;
    }
    .ff{
        min-width: 220px;
    }
}
